@page
@model WebApp.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="one">Delete category</h1>
<br />

<h2 class="one">Are you sure you want to delete this?</h2>
<br />

<div class="row">
    <br />
    <h4 class="one">Category</h4>
    
    <div class="row2">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category.Icon)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Icon)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Type)
            </dd>
        </dl>
    </div>
    
    <form method="post" class="hp">
        <div class="form-group1">
            <input type="submit" value="Delete" class="btn" />
        </div>
        <input type="hidden" asp-for="Category.Id" />
        <a class="hp1" asp-page="./Index">Back to List</a>
    </form>
</div>
