@page
@model WebApp.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details for category</h1>
<br />

<div class="row">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Icon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Type)
        </dd>
    </dl>
</div>
<br />

<div>
    <a class="hp1" asp-page="./Edit" asp-route-id="@Model.Category?.Id">Edit</a> |
    <a class="hp1" asp-page="./Index">Back to List</a>
</div>
