@page
@model WebApp.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="one">Categories collection</h1>

<p class="one">
    <a class="hp1" asp-page="Create">Create new category</a>
</p>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Type)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr class="tr">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                    <a class="hp1" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="hp1" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a class="hp1" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
