@page
@model WebApp.Pages.Transactions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="one">Details for transaction</h1>
<br />

<div class="row1">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Date)
        </dd>
    </dl>
</div>
<br />

<div class="d">
    <a class="hp1" asp-page="./Edit" asp-route-id="@Model.Transaction?.Id">Edit</a> |
    <a class="hp1" asp-page="./Index">Back to List</a>
</div>
