@page
@model WebApp.Pages.Transactions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="one">Transactions collection</h1>

<p class="one">
    <a class="hp1" asp-page="Create">Create new transaction</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Date)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transaction) {
        <tr class="tr">
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    <a class="hp1" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="hp1" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a class="hp1" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
